create database khoacntt1
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Level] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[MSV] [char](10) NOT NULL,
	[StudentName] [nvarchar](100) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[NewsId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileApproval]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileApproval](
	[FileApprovalID] [int] IDENTITY(1,1) NOT NULL,
	[FileRequestId] [int] NOT NULL,
	[ApproverId] [int] NOT NULL,
	[Decision] [nvarchar](max) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_FileApproval] PRIMARY KEY CLUSTERED 
(
	[FileApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileEntity]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileEntity](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[DownloadCount] [int] NOT NULL,
	[Permission] [nvarchar](max) NOT NULL,
	[FileType] [nvarchar](max) NOT NULL,
	[SubjectCode] [varchar](50) NULL,
	[CurrentResourceId] [int] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_FileEntity] PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileRequest]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileRequest](
	[FileRequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestType] [nvarchar](max) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[SubjectCode] [varchar](50) NULL,
	[Permission] [nvarchar](max) NOT NULL,
	[FileType] [nvarchar](max) NOT NULL,
	[TargetFileId] [int] NULL,
	[NewResourceId] [int] NOT NULL,
	[OldResourceId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_FileRequest] PRIMARY KEY CLUSTERED 
(
	[FileRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileResource]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileResource](
	[FileResourceID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[FilePath] [char](255) NOT NULL,
	[Size] [bigint] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_FileResource] PRIMARY KEY CLUSTERED 
(
	[FileResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lecturers]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lecturers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[Degree] [int] NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Birthdate] [date] NULL,
	[Email] [varchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_Lecturers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LecturerSubjects]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LecturerSubjects](
	[LecturerId] [int] NOT NULL,
	[SubjectCode] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LecturerSubjects] PRIMARY KEY CLUSTERED 
(
	[LecturerId] ASC,
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[CurrentResourceId] [int] NOT NULL,
	[NewsType] [varchar](50) NOT NULL,
	[ViewCount] [int] NOT NULL,
	[CreatedById] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsApproval]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsApproval](
	[NewsApprovalID] [int] IDENTITY(1,1) NOT NULL,
	[NewsRequestId] [int] NOT NULL,
	[ApproverId] [int] NOT NULL,
	[Decision] [varchar](50) NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_NewsApproval] PRIMARY KEY CLUSTERED 
(
	[NewsApprovalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsRequest]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsRequest](
	[NewsRequestID] [int] IDENTITY(1,1) NOT NULL,
	[RequestType] [varchar](50) NOT NULL,
	[IsProcessed] [bit] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[NewsType] [varchar](50) NOT NULL,
	[TargetNewsId] [int] NULL,
	[NewResourceId] [int] NOT NULL,
	[OldResourceId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
 CONSTRAINT [PK_NewsRequest] PRIMARY KEY CLUSTERED 
(
	[NewsRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsResource]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsResource](
	[NewsResourceID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Size] [bigint] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[ResourceContent] [nvarchar](max) NOT NULL,
	[imageUrl] [varchar](255) NULL,
 CONSTRAINT [PK_NewsResource] PRIMARY KEY CLUSTERED 
(
	[NewsResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 25/03/2026 1:59:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectCode] [varchar](50) NOT NULL,
	[SubjectName] [nvarchar](max) NOT NULL,
	[Credits] [int] NOT NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[NewsResource] ADD  DEFAULT ('') FOR [ResourceContent]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((3)) FOR [Credits]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_News_NewsId] FOREIGN KEY([NewsId])
REFERENCES [dbo].[News] ([NewsID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_News_NewsId]
GO
ALTER TABLE [dbo].[FileApproval]  WITH CHECK ADD  CONSTRAINT [FK_FileApproval_Admins_ApproverId] FOREIGN KEY([ApproverId])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[FileApproval] CHECK CONSTRAINT [FK_FileApproval_Admins_ApproverId]
GO
ALTER TABLE [dbo].[FileApproval]  WITH CHECK ADD  CONSTRAINT [FK_FileApproval_FileRequest_FileRequestId] FOREIGN KEY([FileRequestId])
REFERENCES [dbo].[FileRequest] ([FileRequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FileApproval] CHECK CONSTRAINT [FK_FileApproval_FileRequest_FileRequestId]
GO
ALTER TABLE [dbo].[FileEntity]  WITH CHECK ADD  CONSTRAINT [FK_FileEntity_Admins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[FileEntity] CHECK CONSTRAINT [FK_FileEntity_Admins_CreatedBy]
GO
ALTER TABLE [dbo].[FileEntity]  WITH CHECK ADD  CONSTRAINT [FK_FileEntity_FileResource_CurrentResourceId] FOREIGN KEY([CurrentResourceId])
REFERENCES [dbo].[FileResource] ([FileResourceID])
GO
ALTER TABLE [dbo].[FileEntity] CHECK CONSTRAINT [FK_FileEntity_FileResource_CurrentResourceId]
GO
ALTER TABLE [dbo].[FileEntity]  WITH CHECK ADD  CONSTRAINT [FK_FileEntity_Subjects_SubjectCode] FOREIGN KEY([SubjectCode])
REFERENCES [dbo].[Subjects] ([SubjectCode])
GO
ALTER TABLE [dbo].[FileEntity] CHECK CONSTRAINT [FK_FileEntity_Subjects_SubjectCode]
GO
ALTER TABLE [dbo].[FileRequest]  WITH CHECK ADD  CONSTRAINT [FK_FileRequest_FileEntity_TargetFileId] FOREIGN KEY([TargetFileId])
REFERENCES [dbo].[FileEntity] ([FileID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[FileRequest] CHECK CONSTRAINT [FK_FileRequest_FileEntity_TargetFileId]
GO
ALTER TABLE [dbo].[FileRequest]  WITH CHECK ADD  CONSTRAINT [FK_FileRequest_FileResource_NewResourceId] FOREIGN KEY([NewResourceId])
REFERENCES [dbo].[FileResource] ([FileResourceID])
GO
ALTER TABLE [dbo].[FileRequest] CHECK CONSTRAINT [FK_FileRequest_FileResource_NewResourceId]
GO
ALTER TABLE [dbo].[FileRequest]  WITH CHECK ADD  CONSTRAINT [FK_FileRequest_FileResource_OldResourceId] FOREIGN KEY([OldResourceId])
REFERENCES [dbo].[FileResource] ([FileResourceID])
GO
ALTER TABLE [dbo].[FileRequest] CHECK CONSTRAINT [FK_FileRequest_FileResource_OldResourceId]
GO
ALTER TABLE [dbo].[FileRequest]  WITH CHECK ADD  CONSTRAINT [FK_FileRequest_Subjects_SubjectCode] FOREIGN KEY([SubjectCode])
REFERENCES [dbo].[Subjects] ([SubjectCode])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[FileRequest] CHECK CONSTRAINT [FK_FileRequest_Subjects_SubjectCode]
GO
ALTER TABLE [dbo].[FileResource]  WITH CHECK ADD  CONSTRAINT [FK_FileResource_Admins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[FileResource] CHECK CONSTRAINT [FK_FileResource_Admins_CreatedBy]
GO
ALTER TABLE [dbo].[LecturerSubjects]  WITH CHECK ADD  CONSTRAINT [FK_LecturerSubjects_Lecturers_LecturerId] FOREIGN KEY([LecturerId])
REFERENCES [dbo].[Lecturers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LecturerSubjects] CHECK CONSTRAINT [FK_LecturerSubjects_Lecturers_LecturerId]
GO
ALTER TABLE [dbo].[LecturerSubjects]  WITH CHECK ADD  CONSTRAINT [FK_LecturerSubjects_Subjects_SubjectCode] FOREIGN KEY([SubjectCode])
REFERENCES [dbo].[Subjects] ([SubjectCode])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LecturerSubjects] CHECK CONSTRAINT [FK_LecturerSubjects_Subjects_SubjectCode]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_Admins_CreatedById] FOREIGN KEY([CreatedById])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_Admins_CreatedById]
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD  CONSTRAINT [FK_News_NewsResource_CurrentResourceId] FOREIGN KEY([CurrentResourceId])
REFERENCES [dbo].[NewsResource] ([NewsResourceID])
GO
ALTER TABLE [dbo].[News] CHECK CONSTRAINT [FK_News_NewsResource_CurrentResourceId]
GO
ALTER TABLE [dbo].[NewsApproval]  WITH CHECK ADD  CONSTRAINT [FK_NewsApproval_Admins_ApproverId] FOREIGN KEY([ApproverId])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[NewsApproval] CHECK CONSTRAINT [FK_NewsApproval_Admins_ApproverId]
GO
ALTER TABLE [dbo].[NewsApproval]  WITH CHECK ADD  CONSTRAINT [FK_NewsApproval_NewsRequest_NewsRequestId] FOREIGN KEY([NewsRequestId])
REFERENCES [dbo].[NewsRequest] ([NewsRequestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NewsApproval] CHECK CONSTRAINT [FK_NewsApproval_NewsRequest_NewsRequestId]
GO
ALTER TABLE [dbo].[NewsRequest]  WITH CHECK ADD  CONSTRAINT [FK_NewsRequest_News_TargetNewsId] FOREIGN KEY([TargetNewsId])
REFERENCES [dbo].[News] ([NewsID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[NewsRequest] CHECK CONSTRAINT [FK_NewsRequest_News_TargetNewsId]
GO
ALTER TABLE [dbo].[NewsRequest]  WITH CHECK ADD  CONSTRAINT [FK_NewsRequest_NewsResource_NewResourceId] FOREIGN KEY([NewResourceId])
REFERENCES [dbo].[NewsResource] ([NewsResourceID])
GO
ALTER TABLE [dbo].[NewsRequest] CHECK CONSTRAINT [FK_NewsRequest_NewsResource_NewResourceId]
GO
ALTER TABLE [dbo].[NewsRequest]  WITH CHECK ADD  CONSTRAINT [FK_NewsRequest_NewsResource_OldResourceId] FOREIGN KEY([OldResourceId])
REFERENCES [dbo].[NewsResource] ([NewsResourceID])
GO
ALTER TABLE [dbo].[NewsRequest] CHECK CONSTRAINT [FK_NewsRequest_NewsResource_OldResourceId]
GO
ALTER TABLE [dbo].[NewsResource]  WITH CHECK ADD  CONSTRAINT [FK_NewsResource_Admins_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([Id])
GO
ALTER TABLE [dbo].[NewsResource] CHECK CONSTRAINT [FK_NewsResource_Admins_CreatedBy]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [CK_Admin_Level] CHECK  (([Level]>=(1)))
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [CK_Admin_Level]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [CK_Subject_Credits] CHECK  (([Credits]>(0)))
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [CK_Subject_Credits]
GO
